
@import '~bootstrap/scss/bootstrap';


.event {
  margin-left: 1em;
  min-height: 262px;
  background: #C4C4C4;
  font-family: Roboto;
  font-style: normal;
  line-height: 28px;

  color: #000000;
  display: flex;
  justify-content: center;
}

.event-title {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  font-weight: 900;
  font-size: 24px;
}
app-event {
  width: 100%;
}
.text-oveflow {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
